*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(../media/_968e46ca-d223-4b41-8e32-acd75347460a.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #dedede;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

#home{
    margin-top: 12px;
    font-weight: 700;
    margin-bottom: 12px;
}

.arrow {
    position: fixed;
    width: 80px;
    height: 80px;
    background: rgba(152, 152, 152, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -15px;
    right: -15px;
    border-radius: 50% 0 0 0;
    font-size: 32px;
    z-index: 10;
    -webkit-border-radius: 50% 0 0 0;
    -moz-border-radius: 50% 0 0 0;
    -ms-border-radius: 50% 0 0 0;
    -o-border-radius: 50% 0 0 0;
}

.index {
    position: fixed;
    width: 80px;
    height: 80px;
    background: rgba(152, 152, 152, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -15px;
    left: -15px;
    border-radius: 0 50% 0 0;
    font-size: 32px;
    z-index: 10;
    -webkit-border-radius: 0 50% 0 0;
    -moz-border-radius: 0 50% 0 0;
    -ms-border-radius: 0 50% 0 0;
    -o-border-radius: 0 50% 0 0;
}

.arrow i,
.index i{
    color: #dedede;
}

.nav{
    margin-top: 12px;
    margin-bottom: 12px;
}

.nav .nav-link{
    color: #dedede;
    font-size: 18px;
}

.nav-pills .nav-link.active{
    background: transparent;
    border: none;
    transform: scale(1.1);
    transition: .2s;
}

.rutinas-list{
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    margin: 0 25px;
    border-radius: 7px;
}

.rutinas-list{
    padding: 7px;
    margin-bottom: 20px;
}

.rutinas-list ul{
    list-style: none;
    margin: 12px auto;
}

.rutinas-list ul li{
    margin: 20px 0;
    font-size: 18px;
}

.rutinas-list ul li a{
    color: #dedede;
    text-decoration: none;
}

.rutinas-card {
    margin: 30px auto 50px auto;
    width: 280px;
    height: 670px;
    border-radius: 7px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    box-shadow: 4px 4px 7px #616161,
        6px 6px 7px #616161,
        -4px -4px 7px #989898,
        -6px -6px 7px #989898;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}


.estocada,
.pesoMuertoRumano,
.bancCuadriceps,
.gemConManc,
.vuelosLat,
.vuelosFront,
.extTrasNuca,
.bicepsBarra,
.zonaMedia,
.zonaMediaActiva,
.pesoMuerto,
.zancLat,
.curlFem,
.sentadillasbarra,
.jalonPecho,
.extTricepsPolea,
.curlBicepsalt,
.sentadillaManc,
.zancada,
.sentadillaZumo,
.sentadillaBulgara,
.hipTrh,
.jalonSupino,
.elevacionPost{
    width: 100%;
    height: 65%;
    border-radius: 7px 7px 0 0;
}

.estocada{
    background: url(../media/ejercicios2.0/estocada.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pesoMuertoRumano{
    background: url(../media/ejercicios2.0/peso-rumano.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bancCuadriceps{
    background: url(../media/ejercicios2.0/banco-cuadriceps.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gemConManc{
    background: url(../media/ejercicios2.0/elevacion-talones.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vuelosLat{
    background: url(../media/ejercicios2.0/vuelos-laterales.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vuelosFront{
    background: url(../media/ejercicios2.0/vuelos-frontales.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.extTrasNuca{
    background: url(../media/ejercicios2.0/tricep-trasnuca.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bicepsBarra{
    background: url(../media/ejercicios2.0/biceps-barra-ez.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pesoMuerto{
    background: url(../media/ejercicios2.0/peso-muerto.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.zancLat{
    background: url(../media/ejercicios2.0/estocadas-laterales.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.curlFem{
    background: url(../media/ejercicios2.0/Curl-Femoral.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sentadillasbarra{
    background: url(../media/ejercicios2.0/sentadillas.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jalonPecho{
    background: url(../media/ejercicios2.0/Jalon-con-polea.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.extTricepsPolea{
    background: url(../media/ejercicios2.0/extension-polea-alta.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.curlBicepsalt{
    background: url(../media/ejercicios2.0/curl-alterno-banco-inclinado.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sentadillaManc{
    background: url(../media/ejercicios2.0/sentadilla-mancuerna.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.zancada{
    background: url(../media/ejercicios2.0/estocada.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sentadillaZumo{
    background: url(../media/ejercicios2.0/sentadilla-zumo.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sentadillaBulgara{
    background: url(../media/ejercicios2.0/sentadilla-bulgara.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hipTrh{
    background: url(../media/ejercicios2.0/hip-thrust.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jalonSupino{
    background: url(../media/ejercicios2.0/jalon-supino.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elevacionPost{
    background: url(../media/ejercicios2.0/elevacion-posterior.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#zonaMedia,
#zonaMediaActiva{
    height: auto;
}

.rutinas-card.add{
    height: 680px;
}

.vuelosLat,
.vuelosFront{
    height: 60%;
}

.series{
    margin-top: 15px;
    padding-bottom: 15px;
}

.titulo{
    padding: 0 20px;
    padding-top: 25px;
}

.series p{
    margin: 7px 0;
    font-size: 18px;
}

.series .titulo-series{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}